@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(to right, #1e63d5, #4f8df5);
  margin: 20px;
}
.container{
  
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}

.card{
  width: 300px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 20px;
  transition: transform 0.3s ease;
  
}

.card ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.icon{
  margin-right: 5px;
}
.card .card-name,.card-price{
  text-align: center;
  
}
.card-title{
  margin: 10px 0;
  opacity: 0.5;
}
.card-price{
  margin: 0 0 20px 0;
}

.card ul{
  list-style: none;
}
.card .btn{
   width: 85%;
   padding: 8px 10px ;
   font-size: 1rem;
   border: none;
   border-radius: 20px;
   background: linear-gradient(to right, #1e63d5, #4f8df5);
   color: white;
   margin: 20px 0 10px 0;
   cursor: pointer;

}
.card:hover{
  transform: translateY(-5px);
}
.btn:hover{
  opacity: 0.7;
}
/* @media(max-width:664px){
  .card{
    width: 70%;
  }
} */
